<div class="home">
  <h1><%= @title %></h1>
  <p><%= @intro_mssg %></p>

  <div ng-controller="TabsCtrl">
    <tabset>

      <tab heading="Nearby Events">
        <div class="row">
          <div class="span4">
            <div ng-controller="AccordionCtrl">
              <label class="checkbox">
                <input type="checkbox" ng-model="oneAtATime">
                Open only one at a time
              </label>
              <accordion close-others="oneAtATime">
                <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                  {{group.content}}
                </accordion-group>
              </accordion>
            </div>
          </div>
          <div class="span8">
            <div id="map">
              <img src="http://cdn2.planetminecraft.com/files/resource_media/screenshot/1226/Middle-Earth_2717524.jpg">
            </div>
          </div>
        </div>
      </tab>

      <tab heading="Search">
        <div ng-controller="CollapseCtrl">
          <button class="btn" ng-click="isCollapsed = !isCollapsed">[-]</button>
          <div collapse="isCollapsed">
            <div ng-controller="EventsCtrl">
              <div class="event-list-container" >
                <ul>
                  <li ng-repeat="event in events">
                    <h3>{{event.name}}</h3>
                    <p>{{event.description}}</p>
                    <div ng-controller="RatingCtrl">
                      <p>
                        <rating value="rate" max="10"></rating>
                        <span>Rate: <b>{{rate}}</b></span>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </tab>

    </tabset>
  </div>
</div>
