<h1>Listing events</h1>

<table>
  <tr>
    <th>Event name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @events %>
  
</table>

<br />

<%= link_to 'New Event', new_event_path %>
