<!DOCTYPE html>
<html ng-app="urbanite">
<head>
  <title>Urbanite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--Loading Twitter bootstrap and Google Maps from CDN-->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
</head>
<body>
  <div class="navbar navbar navbar-fixed-top" ng-controller="NavCtrl">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" ng-click="isCollapsed = !isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Urbanite</a>
        <div class="nav-collapse" style="height: 0px;" collapse="isCollapsed">
          <ul class="nav">
            <li ng-class="navClass('home')"><a href="#home">Home</a></li>
            <li ng-class="navClass('about')"><a href="#about">About</a></li>
            <form class="navbar-search pull-left">
              <input type="text" class="search-query" placeholder="Search">
            </form>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                My Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-class="navClass('advancedSearch')"><a href="#advancedSearch">
                  Advanced Search</a></li>
                <li ng-class="navClass('myEvents')"><a href="#myEvents">My Events</a></li>
                <li class="divider"></li>
                <li class="nav-header">Account</li>
                <li ng-class="navClass('profile')"><a href="#profile">Profile</a></li>
                <li ng-class="navClass('settings')"><a href="#settings">Settings</a></li>
              </ul>
            </li>
          </ul>
            <form class="navbar-form pull-right">
              <input class="span1" type="text" placeholder="Not">
              <input class="span1" type="password" placeholder="Active">
              <button type="submit" class="btn">Sign in</button>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="home">
      <div id='ng-view' ng-view></div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
