<!DOCTYPE html>
<html ng-app="urbanite">
<head>
  <title>Urbanite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--Loading Twitter bootstrap and Google Maps from CDN-->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
